*.iml
.gradle
/local.properties
/.env.local
/.next
/.idea
/node_modules
*.log
dist
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
tsconfig.tsbuildinfo
